.minder {
    font-size: 40PX;
}


.groot {
    font-size: 300px;
    animation-name: draaien;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes draaien {
    from {}

    to {
        transform: rotate(360deg);
    }
}

@media(max-width: 700px) {
    .groot {
        font-size: 200px;
    }

    .minder {
        font-size: 30px;
    }
}
