body {
    font-family: ubuntu, sans-serif;
    font-size: 14px;
    line-height: 23px;
    background-color: #fee400;
    color: #fc4445;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

div {
    text-align: center;
}

@media (min-width:768px) {
    body {
        color: #fee410;
        background-color: darkslateblue;
    }

    li {
        background-color: #fee410;
    }

    li :hover {
        background-color: darkslateblue;
        justify-content: center;
        justify-content: space-around;
    }

    article div {
        padding: 6px;
    }
}

@media (min-width:992px) {

    article div {
        padding: 6px;
    }

    body {
        background-color: whitesmoke;
        color: #040F3D;
    }

    h2 {
        font-family: 'Slabo', serif;
        font-size: 27px;
        line-height: 41px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }

    ul li {
        background-color: #E2E2E2;
        width: 180px;
        padding: 15px;
        text-align: center;
        border-radius: 2px;
        border: none;
        transition: box-shadow 0.5s;
    }

    li a {
        text-decoration: none;
        color: #040F3D;
    }

    ul li:hover {
        box-shadow: 3px 3px 2px grey;
        transition: box-shadow 0.5s;
    }
}
